<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Quyền cần thiết -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <!-- Cho phép dùng full-screen intent -->
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:label="Alarm API"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.DayNight.NoActionBar">

        <!-- Activity full-screen cho báo thức -->
        <activity
            android:name=".ui.FullScreenAlarmActivity"
            android:exported="false"
            android:showOnLockScreen="true"
            android:turnScreenOn="true"
            android:theme="@style/Theme.Material3.DayNight.NoActionBar" />

        <!-- Activity chính -->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Service chạy nền -->
        <service
            android:name=".alarm.AlarmForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <!-- Receiver gọi khi tới giờ -->
        <receiver
            android:name=".alarm.AlarmReceiver"
            android:exported="false" />

        <!-- Receiver để reschedule sau khi reboot -->
        <receiver
            android:name=".boot.BootCompletedReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
